* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0;
  padding: 0;
}

.outer {
  margin: 0 auto;
  max-width: 480px;
}

.logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5em;
  margin: 0 43% 1.75em;
  width: 1.5em;
}

.center {
  margin: 0 13%;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .3em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .3em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}

.details {
  overflow: hidden;
  margin-top: 1em;
}

.details .name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.25rem;
  padding-left: 1.25rem;
  vertical-align: middle;
}

.details .inc {
  border-radius: 3em;
  border: #eb5f3a 1px solid;
  background: transparent;
  color: #eb5f3a;
  cursor: pointer;
  float: right;
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 30px;
  transition: all 200ms ease-in;
}

.inc:hover {
  background: #eb5f3a;
  color: #fff;
}

.inc:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}

.message {
  color: #aaa;
  line-height: 2.25rem;
  text-align: center;
  margin-top: 1em;
}

@media (max-width: 500px) {
  .details, .message {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #fafafa;
    width: 100%;
    padding: 12px 15px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .details .name {
    font-size: 1.2em;
    padding-left: 0;
  }

  .details .inc {
    padding: 10px 20px;
  }

  body {
    margin: 2em 0 4em 0;
  }
}
